*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
}

body{
    background-color: rgb(232, 231, 234);
    
    overflow: hidden;
    overflow-y: scroll;
}